.grid-contenedor{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr; /* 4fr seria 100%, 1fr 25% y 3fr 75% */

    grid-template-rows: auto 1fr auto;

    /* GRID AREA */
    grid-template-areas: 
        "header header header header"
        "main main main aside"
        "section section section section"
        "footer footer footer footer";
        gap: 20px;
}

.header{
    background-color: blue;
    color: white;
    /* grid-area */
    grid-area: header;
}

.aside{
    grid-area: aside;
    background-color: aqua;
}

.main{
    grid-area: main;
    background-color: yellow;
}

.section{
    grid-area: section;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;
    background-color: red;
}