/* MARGIN (Margen Externo) */
.margen{
    width: 400px;
    height: 400px;
    background-color: red;
    /* Margin */
    /* margin-top: Margen en la parte Superior
    margin-top: 0px;
    margin-right: Margen en la parte Derecha
    margin-right: 400px;
    margin-bottom: Margen en la parte Inferior
    margin-bottom: 100px;
    margin-left: Margen en la parte Izquierda
    margin-left: 100px; */
    /* Con un solo valor le aplica el margen a todos los lados. Si tiene un segundo valor, el 1ro aplica a la parte superior e inferior y el 2do aplica a los laterales */
    margin: 50px 10px 20px 30px;
}

/* PADDING (Margen Interno) */
#padding{
    height: 600px;
    background-color: black;
    /* padding*/
    /* padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px; */
    padding: 50px 50px 30px 20px;
}

#padding section{
    width: 300px;
    height: 300px;
    background-color: rgb(205, 205, 205);
    padding-top: 30px;
    padding-left: 30px;
}

#padding section button{
    font-size: 25px;
    padding: 20px 50px;
    border-radius: 20px;
    border: none;
    background-color: chocolate;
    color: white;
}




/* PSEUDO CLASES */
/* link : Nos permite modificar los estilos de un enlace no visitado */
#pseudoclases a:link{
    color: red;
}
/*visited : Nos permite modificar los estilos de un enlace visitado */
#pseudoclases a:visited{
    color: green;
}
/* hover : Nos permite modificar los estilos cuando el cursor este por encima de los elementos */
#pseudoclases button:hover{
    background-color: purple;
    color: white;
    /* Propiedad cursor:width: ; */
    cursor: pointer;
}
/* focus : Nos permite modificar los estilos de un elemento cuando el usuario este haciendo focus sobre el elemento */
#pseudoclases input:focus{
    background-color: aqua;
    border: none;
    color: white;
}
/* first-child : Primer hijo del elemento */
#pseudoclases2 p:first-child{
    font-size: 20px;
    font-weight: bold;
    color: red;
}
/* last-child : Ultimo hijo del elemento */
#pseudoclases2 p:last-child{
    font-size: 20px;
    font-weight: bold;
    color: green;
}
/* nth-child(numero del hijo */
#pseudoclases2 p:nth-child(7){
    font-size: 20px;
    font-weight: bold;
    color: blue;
}

#pseudoclases2 p:nth-child(5){
    font-size: 20px;
    font-weight: bold;
    color: purple;
}



/* Pseudo Elementos */
/* first-line : Afecta la primera linea */
#pseudoelementos p::first-line{
    color: red;
    font-weight: bold;
}
/* first-letter : Afecta la primera letra */
#pseudoelementos p::first-letter{
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
/* before / after */
#pseudoelementos p::before{
    content: "💯";
}

#pseudoelementos p::after{
    content: "🦁";
}
/* marker : Funciona con listas */
#pseudoelementos li::marker{
    content: "💓";
    color: red;
}
/* selection : Funciona para sombrear textos y cambiar el color de fondo y letras */
#pseudoelementos p::selection{
    background-color: black;
    color: white;
}




/* BOX SHADOW */
#sombras{
    width: 200px;
    height: 200px;
    background-color: green;
    margin-bottom: 100px;
    /* box-shadow */
    /* 1re valor EJE X, 2do valor EJE Y, 3er valor desenfoque, 4to valor color */
    box-shadow: 50px 50px 100px red;
}