/* POSICIONES */
/*position:static : Es el valor predeterminado que traen los elementos */
#seccion1, #seccion2{
    width: 600px;
    height: 500px;
}

#seccion1{
    background-color: green;
    /* position: static; es la posicion predeterminda del elemento */
    /* position:relative : */
    /* si el elemento padre tiene posicion relative y el hijo tiene posicion abolute, el hijo respetara los limites del elemento padre, pero si el elemento padre tiene posicion static, el hijo se guiara por los limites de la pagina */
    /* position: relative; /*
    /* position:absolute*/
    position: relative;
    /* top - bottom - left - right : no funcionan con la propiedad static solamente */
    left: 0;
    top: 0;
}

#seccion1 div{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: yellow;
}

#seccion2{
    background-color: red;
}

#formulario{
    height: 100vh;
}

#formulario form .container_usuario{
    position: relative;
    background-color: green;
}

#formulario form .container_usuario input{
    padding-left: 20px;
}

#formulario form .container_usuario img{
    position: absolute;
    width: 15px;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
/* position:fixed */
nav{
    width: 100vw;
    height: 60px;
    background-color: purple;
    position: fixed;
    top: 0;
    z-index: 2;
}
/* position:sticky */
#publicidad{
    width: 100%;
    height: 100px;
    background-color: orange;
    position: sticky;
    top: 0;
    /* PARA CONTROLAR EL EJE Z (profundidad) debemos usar la propiedad z-index */
    z-index: 1;
}




/* TRANSFORM (Transformaciones) */
#transformaciones{
    height: 100vh;
    background-color: black;
    position: relative;
}

#transformaciones div:nth-child(1){
    width: 150px;
    height: 150px;
    background-color: green;
    /* transform (trasladar, rotar, escalar, deformar) */
    /* transform: translate(200px, 300px); */
    /* transform: rotate(60deg); */
    /* transform: scale(1, 2); */
    transform: skew(20deg, 20deg);
}

#transformaciones div:nth-child(2){
    width: 150px;
    height: 150px;
    background-color: purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
}

#transformaciones div:nth-child(3){
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);
    z-index: 10;
}

#transformaciones div:nth-child(4){
    width: 150px;
    height: 150px;
    background-color: green;
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-53%, -50%);
    z-index: 8;
}